<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Hello, {{name}}</p>
  <p>Seems like an password change request was made for your account.</p>
  <p>If was you, clink on link bellow to register a new password:</p>
  <p>
    <a href="{{link}}">> Reset my password</a>
  </p>
  <p>If was not you, please ignore this email.</p>
  <p>
    Thanks! <br />
    <strong>GoBarber Team</strong>
  </p>
</div>
